
/* Bottom Buttons */
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

button {
  border-radius: 18px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.cancel {
  background: #ffd700;
  flex: 1;
   margin-bottom: 40px;

 
}

.yum {
  background: #ffd700;
  flex: 1;
   margin-bottom: 40px;

  
}

/* l:;l/,//., */
.taste-box {
    margin-top: 20px;
}

.taste-title {
    text-align: center;
    margin-bottom: 10px;
}

.taste-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.taste-item label {
    width: 70px;
    font-weight: 500;
}

.taste-item input[type="range"] {
    flex: 1;
    cursor: pointer;
}

.taste-item span {
    width: 45px;
    text-align: right;
    font-weight: 600;
    color: #020202;
}
.price-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px;
    background: #e02626;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.price-title {
    margin-bottom: 10px;
    font-weight: 600;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 14px;
}

.discount {
    color: #ffd700;
}

.total {
    font-size: 16px;
    font-weight: 700;
}
.address-box {
    width: 100%;
    min-height: 70px;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    resize: none;
    outline: none;
}

.address-box:focus {
     border: 5px solid #ffd700;/* same highlight tone */
}
